/* Fonts */
/* 
   font-family: 'Electrolize', sans-serif;
   font-family: 'Share Tech', sans-serif;
*/

/* Code for the whole page */
body {
    font-family: 'Share Tech', sans-serif;
    font-size: 1.5em;
    background-image: url("../img/checkerboard.jpg");
}

.page {
    max-width: 100%;
    background-color: #ffffff;
}

/* Code for the header */
header {
    padding: 20px;
}

header img {
    display: block;
    float: left;
}

header p {
    float: right;
}

/* Code for the navigation */
nav {
    clear: both;
    font-size: 0.5em;
}

nav ul {
    display: flex;
    background-color: #3a3a3a;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #4c96d7;
    color: #3a3a3a;
}

/* Code for main */
main {
    padding: 20px;
}

main img {
    max-width: 100%;
}

.container {
    position: relative;
}

.container h2 {
    color: #4c96d7;
}

.container p {
    color: #4c96d7;
}

.button {
    padding: 10px;
    text-align: center;
    max-width: 80%;
    color: #ffffff;
    background-color: #4c96d7;
    text-decoration: none;
}

.upgrade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 95%;
}

.item {
    text-align: center;
    color: #ffffff;
    background-color: #4c96d7;
    border: #3a3a3a solid 2px;
}

.item img {
    display: block;
    margin: 0 auto;
}

#pass-label {
    color: red;
    font-size: 0.5em;
}

/* Code for the footer */
footer {
    text-align: center;
    font-size: 0.5em;
    border-top: solid 5px #3a3a3a;
    padding-bottom: 20px;
    clear: both;
}

/* Tablet Size viewports */
@media only screen and (min-width: 37em) {
    .page {
        width: 95%;
        border: #4c96d7 solid 5px;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 20px;
    }

    nav {
        font-size: 1em;
    }

    .container h2 {
        position: absolute;
        top: -28px;
        left: 10px;
    }
    
    .container p {
        position: absolute;
        top: 12px;
        left: 10px;
    }

    .button {
        position: absolute;
        top: 116px;
        left: 10px;
        width: 150px;
    }

    footer {
        font-size: 0.6em;
    }
}

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    .page {
        width: 80%;
    }

    nav {
        font-size: 1.5em;
    }

    footer {
        font-size: 0.8em;
    }
}